/* Universal Styles */
html {
  font-size: 16px;
}

.mobile {
  display: none;
}

/* site containers */
header,
footer,
.banner,
.information,
.programmes,
.thesis {
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  padding: 2rem 1.5rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Header Styles */
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.logo,
nav {
  max-height: 2rem;
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 1.5rem;
}

.logo img {
  width: auto;
  height: 100%;
  display: inline-block;
}

nav {
  padding-right: 1.5rem;
}

nav span {
  padding-left: 1rem;
}

.sitename {
  text-transform: uppercase;
}

/* Banner Styles */
.hero {
  max-width: 60%;
  flex-shrink: 1;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
}

.btn {
  display: block;
  padding: 0.5rem auto;
  text-align: center;
}

/* Information Styles */
.information .flex-container {
  padding-top: 0;
}

.main {
  max-width: 60%;
  flex-shrink: 1;
  margin-top: 2rem;;
}

.main span {
  display: block;
}

.additional {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.info-item {
  display: flex;
}

.info-item .img-container {
  height: auto;
  max-width: 35%;
  margin: 1rem;
}

.info-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Programme Styles */
.programmes h2 {
  margin: 2rem auto;
  text-align: center;
}

.programmes-container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 16rem;
  justify-content: space-between;
  margin: 0 4.5rem;
}

.programme {
  flex-basis: 16rem;
}

.course {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course .title {
  padding-bottom: 0.5rem;
}

.course h4 {
  padding: 0.5rem 0 0.5rem 0;
  text-transform: uppercase;
}
/* Thesis Styles */

/* Footer Styles */
