/* Universal Styles */
html {
  font-size: 16px;
}

.mobile {
  display: none;
}

/* site containers */
header,
footer,
.banner,
.information,
.courses,
.thesis {
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Header Styles */
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.logo,
nav {
  max-height: 32px;
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 100%;
  display: inline-block;
}

/* Banner Styles */
.hero {
  max-width: 60%;
}

/* Information Styles */
.main {
  max-width: 60%;
}

/* Course Styles */

/* Thesis Styles */

/* Footer Styles */
